._header {
  position: fixed;
  top: 0;
  right: 0;
  height: 80px;
  z-index: 10;
  width: calc(100% - 56px);
  margin-left: auto !important;
}

._header_resize {
  width: calc(100% - 135px) !important;
}

._sidebar {
  border-right: 1px solid #A5AEBC !important;
  height: 100vh;
  position: fixed;
  overflow-y: scroll;
  z-index: 99;
  width: 56px;
  top: 0;
  bottom: 0;
}

._sidebar::-webkit-scrollbar{
  width: 2px;
  border-radius: 50%;
}

._sidebar::-webkit-scrollbar-track {
  background-color: #010205;
}

._sidebar::-webkit-scrollbar-thumb {
  background-color: #010205;
  border-radius: 50%;
}

._sidebar_resize {
  width: 135px;
}

._main{
  width: calc(100% - 56px);
  margin-left: auto;
  padding: 1rem .2rem;
  position: relative;
  z-index: 0;
  right: 0;
  height: 100%;
}

._main_resize {
  width: calc(100% - 135px);
}

._toggle {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

._menu_list {
  margin-bottom: 1.5rem;
  padding-left: 0.7rem;
}

._menu_list > div {
  margin-bottom: 0.9rem;
}

._menu_heading {
  font-size: 0.6rem;
  color: #a5aebc;
}
._menu_list a {
  text-decoration: none;
  color: #fff;
  display: none;
}

._menu_icons {
  width: 15px;
  height: 15px;
}

._menu_list_show a {
  text-decoration: none;
  color: #f0f6fe;
  display: block;
  margin-left: 0.5rem;
  font-size: 0.6rem;
}
._active {
  border-right: 5px solid blue;
}

._active svg,
._menu_list_show_active a{
  color: blue;
  cursor: pointer;
}

._logout{
  margin-top: auto!important;
}

._main_content{
  height: 100vh !important;
}

._search {
  font-size: 0.5rem;
  height: 80px;
}

._search input {
  border-radius: 4px;
  outline: none;
}

._search svg {
  left: 10px;
  top: 9px;
}

._profile {
  width: 50px !important;
  height: 50px;
}

._profile div {
  width: 23px !important;
  height: 23px;
  cursor: pointer;
}

/* MEDIA QUERIES AND RESPONSIVENESS */

@media screen and (min-width: 768px) {
  ._search {
    padding: 0.6rem 2rem !important;
  }

  ._input_container {
    width: 300px !important;
    height: 30px;
  }

  ._profile {
    width: 90px !important;
    height: 80px;
  }

  ._profile div {
    width: 30px !important;
    height: 30px;
  }
}
