/*body of webpage*/
html, body{
    margin:0;
    padding:0;
    background-image:url("images/Thumnails.png"), linear-gradient(180deg, rgba(1, 2, 5, 0.9) 0.29%, rgba(208, 225, 251, 0) 100%);
    background-repeat:no-repeat;
    background-size:cover;
    box-sizing:border-box;
    color:#F0F6FE;
}



/*defaults*/
*{
    font-family: 'Roboto', sans-serif;
}

.body-layout{
    height:600px;
    align-items:center;
    padding-top:150px;
}



/*logout container*/
.main-container{
    padding-top:50px;
    background:#030B19;
    margin:auto;
    width:470px;
    height:500px;   
    border-radius:10px; 
}

/*first section  of logout 
container*/
.logo-brand{
    display:flex;
    justify-content:center;
    padding-top:30px;
}
.logo img{
    width:50px;
    margin-right:25px;
    padding-top:20px;
}
.logo-brand h1{
    font-size:30px;
}
.logo-brand h1 strong{
    color:#206CDF;
}
.logout-text{
    text-align:center;
    height:80px;
}

.logout-text p{
    line-height:5px;
    font-size:16px;
}


/*button styling section
which is the second half 
of the webpage*/
.buttons{
    padding-top:50px;
    margin-top:30px;
    width:420px;
    margin:auto;
}
.buttons input{
    width:420px;
    height:50px;
    font-size:20px;
    font-weight:bolder;
    box-sizing:border-box;
    cursor:pointer;
    border-radius:5px;
    
}
.btn-1 input{
    margin-bottom:20px;
    background:#206CDF;  
    border:none;  
    color:#F0F6FE;
}
.btn-2 input{ 
    background:#030B19;
    border:2px solid #206CDF;
    color:#206CDF;
}
