._main {
  width: calc(100% - 56px);
  margin-left: auto;
  padding: 1rem .2rem;
  position: relative;
  z-index: 0;
  right: 0;
  height: 100%;
  margin-top: 4rem;
}

._main_resize {
  width: calc(100% - 135px);
}

._header_card {
  background-color: #020711;
}

._icon_div {
  width: 100px !important;
}

._download_btn {
  width: 100px;
}

._header_icons {
  cursor: pointer;
  width: 12px;
  height: 12px;
}

._icons {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

._img_container {
  height: 30px;
}

._profile_avatar{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #7841f8
}

._profile_avatar2 {
  left: 15px;
  z-index: 10;
}

._profile_avatar3 {
  left: 30px;
  z-index: 15;
}

._header_text_size_comment {
  margin-left: 4.2rem;
}

._header_text_size {
  font-size: .7rem;
}

._input {
  outline: none;
  font-size: .7rem;
}

._input_icon {
  right: 30px;
  top: 9px;
}

._input_icon2 {
  right: 10px;
  top: 9px;
}







































