body{
    padding: 0;
    margin: 33px;
    box-sizing: border-box;
    background-color:#010205;
}
.card{
    border: none;
    border-radius: 0;
}
.card_body{
    background-color: black;
    color: #F0F6FE;
}
.card_title{
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}
.card_text{
    padding-bottom: 10px;
    font-size: 14px;
}