._button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	outline-width: 1px;
	outline-offset: 1px;
	outline-color: rgb(11 53 117 / 0.4);
	transition-property: all;
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
	transition-duration: 300ms;
}

._primary {
	background-color: rgb(32 108 223 / 1);
	color: rgb(240 246 254 / 1);
}

._button:hover {
	--tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
		0 4px 6px -4px rgb(0 0 0 / 0.1);
	--tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
		0 4px 6px -4px var(--tw-shadow-color);
	--tw-shadow-color: rgb(32 108 223 / 0.4);
	--tw-shadow: var(--tw-shadow-colored);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

._primary:active {
	background-color: rgb(15 71 155 / 1);
}

._secondary {
	border-width: 2px;
	border-color: rgb(32 108 223 / 1);
	color: rgb(32 108 223 / 1);
}

._secondary:active {
	border-color: rgb(15 71 155 / 1);
	color: rgb(15 71 155 / 1);
}

._big {
	height: 60px;
	width: 392px;
	padding: 0.5rem;
}

._small {
	padding: 0.75rem 2.5rem;
}

._text {
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 500;
}
