._movieIcons {
    width: 20px;
    height: 15px;
  }

  ._movieIcons:hover {
    color: blue;
    cursor: pointer;
  }

  ._movieGenre  {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
  
  }

  ._movieGenre button {
    border: 1px solid #fff;
    border-radius: 30px;
    width: 100px;
    height: 40px;

  }


  ._input_container {
    height: 30px;
  }

  ._profile {
    width: 15px !important;
    height: 15px;
  }

  ._join {
    font-size: 0.5rem;
   
  }
  
  ._join input {
    border-radius: 4px;
    outline: none;
    color: #fff;
  }
  
 

  ._profilePic div {
    width: 25px !important;
    height: 20px;
    cursor: pointer;
  }