html, body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    box-sizing: border-box;
    background-image:url("images/Movie\ Thumnails.png"), linear-gradient(180deg, rgba(1, 2, 5, 0.9) 0.29%, rgba(208, 225, 251, 0) 100%);;
    background-repeat: no-repeat;
    background-size:cover;
}

*{
   font-family: 'Roboto', sans-serif;
   text-decoration:none;
}


/*container holding both
 the logo and logo text*/
.logo-brand{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
    padding:40px;
    width: 221px;
    height: 52.23px;
}
.logo img{
    width: 56px;
    height: 52.23px;   
}
.logo-text img{
    width: 141px;
}

/*inputs and the form link*/
.login-form{
    width:750px;
    height: 600px;
    background: #030B19;
    border-radius:10px;
    float:right;
    margin-right:120px;
}


/*X icon by the top right*/
.exit{
    float:right;
    cursor:pointer;
}


/*sign in buttons and links form*/
.inner-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:30px;
    box-sizing:border-box;
    width: 392px;
    height: 590px;
    margin-left:150px;
    gap: 32px;
}
.heading h1{
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    color: #F0F6FE;
    margin-bottom:0;
}
.heading h1 span{
    color:#206CDF;
}

/*google sign in button*/
.btn-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
    width: 340px;
    height: 45px;
    background: #FAFCFF;
    border-radius: 5px;
    cursor:pointer;
}
.btn-1 p{
    width: 179px;
    height: 23px;
    font-weight: 550;
    font-size: 18px;
    line-height: 23px;
    color: #010205;
}
.btn-1 img{
    width: 20px;
    height: 24px;
    padding-right:5px;
}

/*Apple sign in button*/
.btn-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 45px;
    background: #FAFCFF;
    border-radius:5px;
    cursor:pointer;
}

.btn-2 img{
    width: 20px;
    height: 24px;
}

.btn-2 p{
    width: 179px;
    height: 23px;
    font-style: normal;
    font-weight: 550;
    font-size: 18px;
    line-height: 23px;
}

/*demarcation styling */
.linesides:before{
    content:" ";
    display: block;
    height: 0px;
    width: 150px;
    position: absolute;
    top: 50%;
    left: 24px;
    background: #D2D7DE;
    border: 1px solid #D2D7DE;
}
.linesides{
    position: relative;
    max-width: 500px;
    margin: 100px auto;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #D2D7DE;
    margin:0;
    padding:0;
}
.linesides:after{
    content:" ";
    height: 0px;
    width: 150px;
    background: #D2D7DE;
    border: 1px solid #D2D7DE;;
    display: block;
    position: absolute;
    top: 50%;
    right: 24px;
}

/*Email and password inputs*/
.main-input input{
    width: 340px;
    box-sizing:border-box;
    height: 45px;
    background: #030B19;
    border: 2px solid #BCC3CD;
    border-radius: 5px;
    margin-bottom:20px;
    color:white;
}
.main-input .email input{
    margin-bottom:15px;
}
.password input{
    margin-bottom:0;
}

/*forget password link*/
.f-password p{
    font-weight: 500;
    font-size: 12px;
    color: #206CDF;
    text-align:right;
}

/*checkbox input*/
.checkbox input{
    width:16px;
    height:16px;
    border: 1.5px solid #8F9AAC;
    border-radius: 4px;
}
.checkbox{
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #E4E7EB;
}

/*sign up link if you don't have an account*/
.sign-up p{
    margin-top:30px;
    font-size:14px;
    color:white;
}
.sign-up p a{
    color:#206CDF;
}


  