.frame {
    height: 1473px;
    width: 1177px;
    left: 263px;
    top: 0px;
    border-radius: 0px;
    background: #010205;
}

.h3 {
    height: 42px;
    width: 179px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    background: #F0F6FE;
}
