._content {
  position: relative;
  z-index: 99;
  width: 100%;
}

._form_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

._form_div {
  width: 320px;
}

._btn_div button {
  text-align: center !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

._btn_div svg {
  left: 42px;
  top: 18px;
  width: 20px;
  height: 20px;
}

._divider div {
  width: 50%;
  height: 1px;
  background-color: white;
  border-radius: 1px;
}

._input_icon {
  left: 28px;
}

._input_text {
  position: absolute;
  pointer-events: none;
  left: 45px;
  top: 8.5px;
  transition: 0.7s;
}

._input_element:focus {
  border: 1px solid #206cdf !important;
}

._input_element:focus~._input_text {
  color: #206cdf !important;
  transform: translateX(-25px) translateY(-20px) !important;
  padding: 0 0.4rem;
  background-color: #030b19;
  transition: 0.7s;
}

._password_info > p {
  font-size: .8rem;
  margin-bottom: .4rem;
}

._avatar {
  width: 50px;
  height: 50px;
  overflow: hidden;
}

._avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

._label {
  font-size: .7rem;
  border-radius: 2px;
}

._avatar_input{
  visibility: hidden;
  width: 2px;
}

/* MEDIA QUERIES AND RESPONSIVENESS */

@media screen and (min-width: 768px) {
  ._form_container {
    width: 80%;
    justify-content: end;
  }
  ._form_div {
    width: 500px;
  }

  ._form_content{
    padding: 0 5rem !important;
  }

  ._btn_div svg {
    left: 22.3%;
  }
}
